* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #26a96c;
}

nav {
    background-color: #2bc016;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

.li_header {
    border-bottom: 1px #fff dashed;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
    text-transform: lowercase;
    letter-spacing: 5px;
}

a {
    text-decoration: none;
    text-shadow: #26a96c;
}

a:hover {
    text-decoration: 1px dashed black;
}

.container {
    padding-bottom: 50px;
}

.card {
    margin-top: 50px;
}

.input-text {
    width: auto;
    height: auto;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}

.input-number {
    width: auto;
    height: auto;
    border-radius: 5px;
}

.select {
    width: auto;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    
}

.more-questions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.one-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

.editable {
    border: 1px solid #ccc;
    min-height: 20px;
    width: 300px;
    padding: 5px;
}

.editable:focus {
    outline: none;
    border-color: blue;
}